
/*************
画像アップロード
*************/
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

#previews {
  display: flex;
}

.preview {
  margin-right: 30px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.category-select {
  height: 30px;
  width: 80%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
.category-face, .category-eye, .category-lip {
  height: 30px;
  width: 80%;
  background-color: #f5f5f5;
  padding-left: 20px;
  visibility: hidden;
}

.category-option-all {
  height: 30px;
  width: 80%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.category, .category-option, .brand, .title, .content, .startdate{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.items-text{
  width: 80%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

.item-date {
  width: 80%;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}
.item-date p {
  line-height: 60px;
  padding: 0 5px;
}