<table class="expiration-date_explanation">
      <div class="expiration-date_explanation_title">コスメ使用期限について</div>
      <tbody>
        <tr>
          <th class="explanation_date">使用期限</th>
          <th class="explanation_item">アイテム</th>
          <th class="explanation">説明</th>
        </tr>
        <tr>
        <td class="explanation_date">3ヶ月以内</td>
          <td class="explanation_item">クションファンデーション、マスカラ、リキッドアイライナー</td>
          <td class="explanation">水分が多いものは雑菌が繁殖しやすいため。</td>
        </tr>
        <tr>
        <td class="explanation_date">6ヶ月以内</td>
          <td class="explanation_item">ベース、リキッドファンデーション、クリームファンデーション、コンシーラー、ハイライト、Face_その他、
          アイベース、Eye_その他、リップスティック、リキッドリップ、リップグロス、リップティント、Lip_その他</td>
          <td class="explanation">油分が多いものは酸化がしやすいため。</td>
        </tr>
        <tr>
        <td class="explanation_date">1年以内</td>
          <td class="explanation_item">フェイスパウダー、パウダーファンデーション、シェーディング、チーク、アイシャドウ、アイブロウ、リップペンシル</td>
          <td class="explanation">水分・油分が比較的少ないため。</td>
        </tr>
      </tbody>
    </table>
    <div class="notes">
      ※使用期限を過ぎていなくても、異臭や変色、分離など少しでも異変を感じる場合は使用を控えましょう。
    </div>