<li class='list'>
  <div class='item-img-content'>
    <%= image_tag "no_registration.png", class: "item-img"  %>
  </div>
  <div class="item-info">
    <div class="item-brand">ブランド名</div>
      <div class="item-name">コスメ名</div>
      <div class="item-category_option">カテゴリー詳細</div>
      <div class="user-name">ユーザー名</div>
    </div>
</li>