
/***************
ベース
***************/

.header-text {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  color: #a23b2f;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  
}

.triangle {
  position: relative;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: white transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
.container {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

/*****
login、item登録時も使用
*****/
.form-text-wrap {
  width: 100%;
  height: 20%;
  padding: 3px;
  font-size: 16px;
}

.indispensable {
  background: #a23b2f;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 20px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.register-red-btn {
  width: 100%;
  background: #a23b2f;
  border: 1px solid #a23b2f;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}